<template lang="pug">
    div
        input(type="text" value="aqui fica o form de cadastro")
</template>

<script>
export default {
    data () {
        return {
        }
    },
}
</script>

<style>
</style>