<template lang="pug">
    div
        router-link(:to="{ name: 'Adm.Register.Add'}")
            button Adicionar
        ul
            li(v-for="(item, pos) in registers" :key="pos") {{item}}
</template>

<script>
export default {
    data () {
        return {
            registers: [
                'Registro 1',
                'Registro 2',
                'Registro 3',
                'Registro 4',
                'Registro 5',
            ],
        }
    },
}
</script>

<style>
</style>