$primaryColor1: #000000;
$primaryColor2: #000000;
$primaryColor3: #000000;
$primaryColor4: #000000;
$primaryColor5: #000000;

$secundaryColorA1: #000000;
$secundaryColorA2: #000000;
$secundaryColorA3: #000000;
$secundaryColorA4: #000000;
$secundaryColorA5: #000000;

$secundaryColorB1: #000000;
$secundaryColorB2: #000000;
$secundaryColorB3: #000000;
$secundaryColorB4: #000000;
$secundaryColorB5: #000000;

$complementaryColor: #000000;
$complementaryColor: #000000;
$complementaryColor: #000000;
$complementaryColor: #000000;
$complementaryColor: #000000;